<div id="registration">
    <fieldset>
        <h2 class="registration-title">Register</h2>
        <form  (ngSubmit)="registrationForm.valid && onSubmit()" [formGroup]="registrationForm">
            <table class="registration-form">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Firstname</mat-label>
                            <input matInput type="text" formControlName="firstname" required name="firstname" id="firstname">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Lastname</mat-label>
                            <input matInput type="text" formControlName="lastname" required name="lastname" id="lastname">
                        </mat-form-field>
                    </td>
                </tr>
                <ng-container *ngIf="emailAlreadyRegistered">
                    <tr>
                        <td>
                            <mat-card class="error">Sorry, an account with that email is already registered.</mat-card>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" required name="email" id="email">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Phone</mat-label>
                            <input matInput type="text" formControlName="phone" name="phone" id="phone">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="showClearPassword ? 'text' : 'password'" formControlName="password" required name="password" id="password">
                            <mat-icon *ngIf="!showClearPassword" matSuffix class="eye-icon" (click)="toggleShowClearPassword()">visibility</mat-icon>
                            <mat-icon *ngIf="showClearPassword" matSuffix class="eye-icon" (click)="toggleShowClearPassword()">visibility_off</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" mat-raised-button [disabled]="registrationForm.invalid" color="primary">Register</button>
                        <button type="reset" (click)="resetError()" mat-raised-button>Reset</button>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
