<footer class="container flex col bg-primary">
  <p class="mat-small">Copyright CitimmoTech 2021</p>
  <p class="mat-small">Produced by Maxime Caspani, Jérôme Duvaudier, Christophe Faivre, Stéphane Lachartre (sorted by name)</p>
  <p class="mat-small">Merci à Huber pour les légers coups de main</p>
  <div class="mat-small">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" class="font-accent">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" class="font-accent">www.flaticon.com</a></div>
</footer>
