img {
  height: auto;
  width: 10vw;
}

.container {
  align-content: center;
  margin: 0 10%;
}

.identity-container {
  margin: 20px 0;
  align-items: center;
}

.create {
  align-self: flex-end;
}
