.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.container {
  margin: auto;
  border-radius: 25px;
  border: 0.2em solid;
  padding: 20px;
  width: 50%;
}

.form-container {
  justify-content: space-around;
}

.button-container {
  align-self: flex-end;
}

#title {
  align-self: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field {
  margin-top: 20px;
}
