<div class="flex col container">
  <p class="align-center">Je viens faire une recherche</p>
  <form class="flex col" [formGroup]="quickSearchForm" (ngSubmit)="quickSearchForm.valid && onSubmit()">

    <mat-radio-group [formControl]="transactionControl" labelPosition="before">
      <mat-radio-button value="buy">Pour acheter</mat-radio-button>
      <mat-radio-button value="rent">Pour louer</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Localisation</mat-label>
      <mat-chip-list #chipList aria-label="location selection">
        <mat-chip *ngFor="let loc of locations" [selectable]="selectable" [removable]="removable"
          (removed)="remove(loc)">
          {{loc}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Ajouter une/des ville(s)" [formControl]="locationControl" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-hint>obligatoire</mat-hint>
      <mat-error *ngIf="locationControl.invalid">{{getLocationErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="flex row space-between wrap">
      <div class="slider-container">
        <mat-label>Budget</mat-label>
        <div class="flex">
          <mat-slider [formControl]="budgetControl" [step]="intervalBudget" min="0" [max]="maxBudget"></mat-slider>
          <ng-container *ngIf="budgetControl.value < maxBudget; else elseTemplate">
            <mat-label class="slider-label">{{budgetControl.value | currency:'EUR':'':'1.0-0':'fr-FR'}}€</mat-label>
          </ng-container>
          <ng-template #elseTemplate>
            <mat-label class="slider-label">{{budgetControl.value | currency:'EUR':'':'1.0-0':'fr-FR'}}€ et +</mat-label>
          </ng-template>
        </div>
      </div>

      <div class="align-center">
        <button type="submit" mat-flat-button color="primary" [disabled]="quickSearchForm.invalid">Go</button>
      </div>
    </div>

  </form>
</div>
