.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-self: center;
}
.wrap {
  flex-wrap: wrap;
}

.container {
  margin: auto;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  max-width: 500px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field {
  margin-top: 20px;
}
