<div class="flex col container">
  <p id="title">Je viens faire une recherche</p>
  <form class="form-container flex row" [formGroup]="quickSearchForm" (ngSubmit)="quickSearchForm.valid && onSubmit()">

      <div class="inputs flex col">
          <mat-radio-group [formControl]="transactionControl" labelPosition="before">
            <mat-radio-button value="buy">Pour acheter</mat-radio-button>
            <mat-radio-button value="rent">Pour louer</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline">
            <mat-label>Localisation</mat-label>
            <mat-chip-list #chipList aria-label="location selection">
              <mat-chip *ngFor="let loc of locations" [selectable]="selectable" [removable]="removable" (removed)="remove(loc)">
                {{loc}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Ajouter une/des ville(s)"
                     [formControl]="locationControl"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-hint>obligatoire</mat-hint>
            <mat-error *ngIf="locationControl.invalid">{{getLocationErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Budget</mat-label>
            <span><input [formControl]="budgetControl" matInput></span>
            <mat-hint>en €</mat-hint>
            <mat-error *ngIf="budgetControl.invalid">{{getBudgetErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>

      <div class="button-container">
        <button type="submit" mat-flat-button color="primary" [disabled]="quickSearchForm.invalid">Go</button>
      </div>
  </form>
</div>
