
.space-between {
  justify-content: space-between;
}
.align-center {
  align-self: center;
}

.container {
  margin: 20px auto;
  border-radius: 25px;
  padding: 20px;
  max-width: 500px;
}

form {
  margin-top: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-form-field {
  margin-top: 20px;
}

app-location-control {
  margin-top: 20px;
}

.mat-slider {
  width: 200px;
}

.slider-container {
  margin-top: 20px;
}

.slider-label {
  align-self: center;
  margin: 0 0 0 16px;
}
